.item {
  text-align: center;
}

.menu {
  width: 180px;
  border-radius: 8px;
  padding: 24px;
  background-color: #f7f7f7;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  list-style: none;
}

.menu > div {
  padding: 24px;
}

.menu > div:not(:last-child) {
  border-bottom: 1px solid #111111;
}

.link {
  color: #111111;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: #47a138;
  font-weight: 600;
}

.linkActive {
  color: #47a138;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 12px;
    height: auto;
  }

  .menu > div {
    padding: 12px;
  }

  .menu > div:not(:last-child) {
    border-bottom: none;
  }
}
