.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.wrapper p {
  margin: 1rem 0;
  color: #2f2e41;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card > div > img {
  width: 267px;
  height: 134px;
}

.groupButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.groupButton > span {
  font-size: 0.9rem;
}

.buttonConfig {
  width: 250px;
  height: 40px;
  background: #91c688;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
  transition: 0.2 ease-in-out;
}

.buttonBlock {
  width: 250px;
  height: 40px;
  background: transparent;
  border: 2px solid #c46464;
  border-radius: 8px;
  color: #c46464;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
  transition: 0.2 ease-in-out;
  margin: 10px 0;
}

@media (max-width: 767px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 16px;
  }

  .card > img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }

  .groupButton {
    width: 100%;
    align-items: flex-start;
  }
}
